--- 
- hosts: localhost
  vars: 
    IP_Addr:
      - 192.168.199.30
      - 192.168.199.31
      - [192.168.199.40, 192.168.199.41]

  tasks:
   -  name: "Prin with loop"
      debug:
        msg: "{{ item }}"
      #loop: "{{ IP_Addr }}"
      loop: "{{ IP_Addr | flatten(1) }}"

# The flatten permits us to go deeper. We can go through nested list. 


# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ ansible-playbook loop-flatten.yaml 

# PLAY [localhost] *********************************************************************************************************************************************************************************************************************************

# TASK [Prin with loop] ****************************************************************************************************************************************************************************************************************************
# ok: [localhost] => (item=192.168.199.30) => {
#     "msg": "192.168.199.30"
# }
# ok: [localhost] => (item=192.168.199.31) => {
#     "msg": "192.168.199.31"
# }
# ok: [localhost] => (item=192.168.199.40) => {
#     "msg": "192.168.199.40"
# }
# ok: [localhost] => (item=192.168.199.41) => {
#     "msg": "192.168.199.41"
# }

# PLAY RECAP ***************************************************************************************************************************************************************************************************************************************
# localhost                  : ok=1    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   