--- 
- hosts: localhost
  vars: 
    IP_Addr:
      - 192.168.199.30
      - 192.168.199.31
      - [192.168.199.40, 192.168.199.41]

  tasks:
   -  name: "Prin with loop"
      debug:
        msg: "{{ item }}"
      loop: "{{ IP_Addr }}"


# Here we have a list inside the list.
# In ansible we swill write loop at the end. The loop will go for each item inside IP_Addr variable. item is one of the bildin variables in ansible.



# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ ansible-playbook loop.yaml 

# PLAY [localhost] *********************************************************************************************************************************************************************************************************************************

# TASK [Prin with loop] ****************************************************************************************************************************************************************************************************************************
# ok: [localhost] => (item=192.168.199.30) => {
#     "msg": "192.168.199.30"
# }
# ok: [localhost] => (item=192.168.199.31) => {
#     "msg": "192.168.199.31"
# }
# ok: [localhost] => (item=['192.168.199.40', '192.168.199.41']) => {
#     "msg": [
#         "192.168.199.40",
#         "192.168.199.41"
#     ]
# }

# PLAY RECAP ***************************************************************************************************************************************************************************************************************************************
# localhost                  : ok=1    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
