---
- hosts: localhost
  
  tasks: 
    - name: ping
      shell: "ping 8.8.8.8 -c 5"
      register: output


    - name: print
      debug:
        #msg: "The IP is: {{ output }}"
        #msg: "The IP is: {{ output.stdout}}"
        msg: "The IP is: {{ output.stdout.split('\n')}}"
        

# With shell we can send the command to shell.
# With register we can send the out put to a variable wich here is "output"
# Thwn with debug/msg we can see what output is.
# the output is a dictionary, with output.stdout we are parsing in the dictionary. As we need the valu of std.out we can pars it.
# With  output.stdout.split('\n') we can make a list from the vlaues. Split ('\n') will search \n and then put every value as a list member.


# #msg: "The IP is: {{ output }}" >>>
# TASK [ping] **************************************************************************************************************************************************************************************************************************************
# changed: [localhost]

# TASK [print] *************************************************************************************************************************************************************************************************************************************
# ok: [localhost] => {
#     "msg": "The IP is: {'changed': True, 'stdout': 'PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.\\n64 bytes from 8.8.8.8: icmp_seq=1 ttl=113 time=18.4 ms\\n64 bytes from 8.8.8.8: icmp_seq=2 ttl=113 time=18.5 ms\\n64 bytes from 8.8.8.8: icmp_seq=3 ttl=113 time=18.5 ms\\n64 bytes from 8.8.8.8: icmp_seq=4 ttl=113 time=18.3 ms\\n64 bytes from 8.8.8.8: icmp_seq=5 ttl=113 time=18.4 ms\\n\\n--- 8.8.8.8 ping statistics ---\\n5 packets transmitted, 5 received, 0% packet loss, time 4006ms\\nrtt min/avg/max/mdev = 18.340/18.411/18.489/0.056 ms', 'stderr': '', 'rc': 0, 'cmd': 'ping 8.8.8.8 -c 5', 'start': '2026-02-23 15:58:15.725399', 'end': '2026-02-23 15:58:19.759747', 'delta': '0:00:04.034348', 'msg': '', 'stdout_lines': ['PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.', '64 bytes from 8.8.8.8: icmp_seq=1 ttl=113 time=18.4 ms', '64 bytes from 8.8.8.8: icmp_seq=2 ttl=113 time=18.5 ms', '64 bytes from 8.8.8.8: icmp_seq=3 ttl=113 time=18.5 ms', '64 bytes from 8.8.8.8: icmp_seq=4 ttl=113 time=18.3 ms', '64 bytes from 8.8.8.8: icmp_seq=5 ttl=113 time=18.4 ms', '', '--- 8.8.8.8 ping statistics ---', '5 packets transmitted, 5 received, 0% packet loss, time 4006ms', 'rtt min/avg/max/mdev = 18.340/18.411/18.489/0.056 ms'], 'stderr_lines': [], 'failed': False}"
# }

# PLAY RECAP ***************************************************************************************************************************************************************************************************************************************
# localhost                  : ok=2    changed=1    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   

# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ 



# msg: "The IP is: {{ output.stdout}}" >>>

# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ ansible-playbook variable-register.yaml

# PLAY [localhost] *********************************************************************************************************************************************************************************************************************************

# TASK [ping] **************************************************************************************************************************************************************************************************************************************
# changed: [localhost]

# TASK [print] *************************************************************************************************************************************************************************************************************************************
# ok: [localhost] => {
#     "msg": "The IP is: PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.\n64 bytes from 8.8.8.8: icmp_seq=1 ttl=113 time=18.4 ms\n64 bytes from 8.8.8.8: icmp_seq=2 ttl=113 time=18.4 ms\n64 bytes from 8.8.8.8: icmp_seq=3 ttl=113 time=18.5 ms\n64 bytes from 8.8.8.8: icmp_seq=4 ttl=113 time=18.5 ms\n64 bytes from 8.8.8.8: icmp_seq=5 ttl=113 time=18.3 ms\n\n--- 8.8.8.8 ping statistics ---\n5 packets transmitted, 5 received, 0% packet loss, time 4004ms\nrtt min/avg/max/mdev = 18.315/18.420/18.497/0.067 ms"
# }

# PLAY RECAP ***************************************************************************************************************************************************************************************************************************************
# localhost                  : ok=2    changed=1    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   

# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ 


#msg: "The IP is: {{ output.stdout.split('\n')}}" >>> 
# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ ansible-playbook variable-register.yaml

# PLAY [localhost] *********************************************************************************************************************************************************************************************************************************

# TASK [ping] **************************************************************************************************************************************************************************************************************************************
# changed: [localhost]

# TASK [print] *************************************************************************************************************************************************************************************************************************************
# ok: [localhost] => {
#     "msg": "The IP is: ['PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.', '64 bytes from 8.8.8.8: icmp_seq=1 ttl=113 time=18.6 ms', '64 bytes from 8.8.8.8: icmp_seq=2 ttl=113 time=18.3 ms', '64 bytes from 8.8.8.8: icmp_seq=3 ttl=113 time=18.3 ms', '64 bytes from 8.8.8.8: icmp_seq=4 ttl=113 time=18.3 ms', '64 bytes from 8.8.8.8: icmp_seq=5 ttl=113 time=18.2 ms', '', '--- 8.8.8.8 ping statistics ---', '5 packets transmitted, 5 received, 0% packet loss, time 4006ms', 'rtt min/avg/max/mdev = 18.222/18.351/18.615/0.138 ms']"
# }

# PLAY RECAP ***************************************************************************************************************************************************************************************************************************************
# localhost                  : ok=2    changed=1    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   

# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ 