---
- hosts: localhost
  connection: local
  gather_facts: no

  tasks:
    - name: Gather Linux facts
      ansible.builtin.setup:

    - name: Print facts
      debug:
        #var: ansible_facts
        msg: "This is ubuntu {{ ansible_facts['distribution_version'] }}"
      when: ansible_facts['os_family'] == "Debian"


# It will print the distribution version of ansible_facts if the os_family is Debian.

# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ ansible-playbook when.yaml

# PLAY [localhost] *****************************************************************************************************************************************************************************************************

# TASK [Gather Linux facts] ********************************************************************************************************************************************************************************************
# ok: [localhost]

# TASK [Print facts] ***************************************************************************************************************************************************************************************************
# ok: [localhost] => {
#     "msg": "This is ubuntu 24.04"
# }

# PLAY RECAP ***********************************************************************************************************************************************************************************************************
# localhost                  : ok=2    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   



#If the condition is not ok it will skipp:

# saeed@saeed-ubuntu2:~/Desktop/Network-Automation/Ansible/Ansible_Playbook$ ansible-playbook when.yaml

# PLAY [localhost] *****************************************************************************************************************************************************************************************************

# TASK [Gather Linux facts] ********************************************************************************************************************************************************************************************
# ok: [localhost]

# TASK [Print facts] ***************************************************************************************************************************************************************************************************
# skipping: [localhost]

# PLAY RECAP ***********************************************************************************************************************************************************************************************************
# localhost                  : ok=1    changed=0    unreachable=0    failed=0    skipped=1    rescued=0    ignored=0   